{{yield}}

<div style='position: absolute; left: 0; bottom: 0; right: 0; height: 100px; background-color: black'>
  <button onclick={{action 'previous' target=slides}}>&lt; PREV</button>
  <button onclick={{action 'next' target=slides}}>NEXT &gt;</button>
</div>
