<style>
  .image-background-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('{{backgroundData.imagePath}}');
    background-size: cover;
  }
</style>

<div class='image-background-container'>

</div>
