{{backgrounds/gradient-background colors=(array '#e7e33c' '#e7e33c' '#d52362' '#d523ba')}}

{{#slide.content}}
  <div class="self-center p-4 mb-4 text-orange text-5xl">
    <h1 class="text-shadow">ember-present</h1>
  </div>
  <div class="self-center p-4 mb-4 text-blue-light text-5xl">
    <h3 class="text-shadow">@gavinjoyce</h3>
  </div>
{{/slide.content}}
