{{backgrounds/gradient-background}}

{{#slide.content}}
  <div class="self-center text-grey-lightest">
    <h2 class="text-shadow">Code snippets</h2>
    <h4 class="text-shadow">Using <a href="https://github.com/ef4/ember-code-snippet">ember-code-snippet</a></h4>
  </div>
  <div class="self-center p-4 mb-4 w-full">
    {{code-snippet name="sample-template.hbs"}}
    {{code-snippet name="sample.js"}}
    {{code-snippet name="inline.js" source="let g = 99;"}}
  </div>
{{/slide.content}}