{{backgrounds/gradient-background colors=(array '#e7e33c' '#e7e33c' '#d52362' '#d523ba')}}

{{#slide.content}}
  <div class="font-body fixed pin flex flex-col items-center justify-center text-5xl">
    <div class="self-center p-4 mb-4 text-orange">
      <h1 class="text-shadow">ember-present</h1>
    </div>
    <div class="self-center p-4 mb-4 text-blue-light">
      <h3 class="text-shadow">@gavinjoyce</h3>
    </div>
    <div class="h-24"></div>
  </div>
{{/slide.content}}
