<style>
  .video-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
</style>

<div class='video-container'>
  <video autoplay loop style='width: 100%;'>
    <source src="/backgrounds/Winter-Grass.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="/backgrounds/Winter-Grass.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
</div>

<h1>Screen Slide 2</h1>
<h2>An example of background animated video</h2>
