<h1>Screen Slide 3</h1>
<h2>An example of background animated gradient</h2>

{{code-snippet name="sample-template.hbs"}}
{{code-snippet name="sample.js"}}
{{code-snippet name="inline.js" source="let g = 99;"}}
