<style>
  .slide {
  	color: #fff;
  	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  	background-size: 400% 400%;
  	animation: Gradient 15s ease infinite;
  }

  @keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }
</style>

<h1>Screen Slide 3</h1>
<h2>An example of background animated gradient</h2>
