<div class="bg-blue min-h-screen mb-16">
  {{yield
    (hash
      components=(hash
        xyInput=(component 'inputs/xy-input')
        pointerInput=(component 'inputs/pointer-input')
      )
    )
  }}
</div>