<div class="bg-black min-h-screen">
  {{yield
    (hash
      button=(component 'x-button')
      components=(hash
        xyInput=(component 'inputs/xy-input')
        pointerInput=(component 'inputs/pointer-input')
      )
    )
  }}
</div>