{{#component slideContainerComponent as |api|}}
  {{#let (get slide (concat session.role 'ComponentPath')) as |componentPath|}}
    {{#if (get slide (concat session.role 'SlideIsMissing'))}}
      <div class="pin absolute flex pointer-events-none text-grey-darkest">
        <div class="self-center m-auto">
          <h3>
            [{{slide.componentName}}]
          </h3>
          <h4 class="self-center m-auto">
            {{session.role}}
          </h4>
        </div>
      </div>
    {{else}}
      {{component
        componentPath
        slide=api
        slides=slides
        session=session
      }}
    {{/if}}
  {{/let}}
{{/component}}
