<div class="slides">
  {{#component slideComponent slide=slides.current}}
    {{component
      slides.current.componentPath
      slide=slides.current
      slides=slides
    }}
  {{/component}}
</div>
