<style>
  .slide-container {
    background-color: green;
  }

  .slide {
    background-color: yellow;
  }

  a {
    color: cornflowerblue;
  }

  button {
    font-size: 2em;
    padding: 20px;
    background-color: cornflowerblue;
    color: white;
  }
</style>

<h1>Welcome to ember-present</h1>
<h4>(use the arrow keys to navigate)</h4>

<h3>
  <a href="https://twitter.com/gavinjoyce/status/951500087221522433">
    https://twitter.com/gavinjoyce/status/951500087221522433
  </a>
</h3>

<button onclick={{action 'next' target=slidesService}}>NEXT &gt;</button>
