<style>
  .slide-container {
    background-color: pink;
  }

  .slide {
    background-color: blue;
  }
</style>

<h1>Slide 2</h1>

<h2>The count is {{count}}</h2>
<h4>(will count to 3)</h4>

<p>
  {{#if (eq count 0)}}
    This slide has sub steps
  {{/if}}
  {{#if (eq count 1)}}
    The path for this component is "{{slidesService.current.componentPath}}".
  {{/if}}
</p>
