{{#presenter-slide title='Realtime Drums' as |slide|}}

  {{#slide.p}}
    <button onclick={{action 'playSound' 'kick'}}>Kick</button>
    <button onclick={{action 'playSound' 'clap'}}>Clap</button>
  {{/slide.p}}

{{/presenter-slide}}
