<button onClick={{action (action 'previous' target=slidesService)}}>Previous</button>
<button onClick={{action (action 'next' target=slidesService)}}>Next</button>

<hr />

{{component slidesService.current.componentPath}}
