<button onClick={{action 'previous' target=slidesService}}>Previous</button>
<button onClick={{action 'next' target=slidesService}}>Next</button>

<hr />

{{component slidesService.current.componentPath}}
