<ul>
  <li>{{#link-to 'all'}}All Roles{{/link-to}}</li>
  <li>{{#link-to 'screen'}}Screen{{/link-to}}</li>
  <li>{{#link-to 'presenter'}}Presenter{{/link-to}}</li>
  <li>{{#link-to 'notes'}}Notes{{/link-to}}</li>
  <li>{{#link-to 'audience'}}Audience{{/link-to}}</li>
</ul>
