<div class="pointer rounded-full w-8 h-8 -m-4 bg-yellow border-green border-4 fixed"></div>

<span class="xLine h-screen border-l-2 border-white border-dotted fixed"></span>
<span class="yLine w-screen border-t-2 border-white border-dotted fixed"></span>